body {
    background-color: #ECEBDF;
    font-family: Arial;
}

.main {
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid rgba(0,0,0,0.16);
    border-radius: 2px;
    width: 95%;
}

.main.container {
    height: -webkit-fill-available;
    overflow:auto;
}

.shadowrow {
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.35);
}

.labelnumoferta {
    padding: 5px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}

.footerControles {
    background: transparent;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    z-index: 1030;
}


.fieldset {
    border: 1px solid #c0c0c0;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.ddlclass {
    background: #fff;
    color: #606061;
    padding: 5px;
    font-size: 15px;
    border-radius: 2px;
}

.btnazulll {
    background-color: #006699;
    border-radius: 2px;
    border: none;
    color: #fff;
    padding: 6px;
}

.navexit {
    float: right !important;
}


.plus {
    padding: 8px !important;
    text-decoration: none;
}

    .plus:hover {
        color: #fff !important;
        text-decoration: none !important;
    }

.rowsPanel {
    border: none;
}

.white {
    background-color: #fff;
}

.colortitulo {
    color: #000;
}

.tabler tbody > tr > td {
    padding: 2px !important;
}

.loading {
    display: none;
    position: fixed;
    text-align: center;
    margin-top: 20%;
    width: 100%;
    height: 100%;
    z-index: 3004;
    overflow: auto;
}

.overlayload {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500%;
    background: #000;
    z-index: 2001;
    opacity: 0.75;
    -moz-opacity: 0.75;
    filter: alpha(opacity=75);
    pointer-events: none;
}

.btndescarga {
    border: none;
    background-color: #0489B1;
    color: #fff;
    cursor: pointer;
    padding: 8px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 2px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}

    .btndescarga:hover {
        background-color: #2ECCFA;
    }

.btngris {
    background-color: #b4b3b3;
    border: none;
    color: #6E6E6E;
    cursor: pointer;
    padding: 7px;
    font-size: 14px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}

    .btngris:hover {
        background-color: #D5D4D3;
    }

.btnverde {
    background-color: #068a10;
    border: none;
    color: #f2f2f2;
    cursor: pointer;
    padding: 7px;
    font-size: 14px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}

    .btnverde:hover {
        background-color: #4ebb45;
    }

.btnazul {
    background-color: #006699;
    border: none;
    color: #f2f2f2;
    cursor: pointer;
    padding: 7px;
    font-size: 14px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}

    .btnazul:hover {
        background-color: #0d7db5;
    }

.btngris {
    background-color: #979595;
    border: none;
    color: #f2f2f2;
    cursor: pointer;
    padding: 7px;
    font-size: 14px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}

    .btngris:hover {
        background-color: rgba(0,0,0,0.35);
    }

.btnamarillo {
    background-color: #eae24c;
    border: none;
    color: #6E6E6E;
    cursor: pointer;
    padding: 7px;
    font-size: 14px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}

    .btnamarillo:hover {
        background-color: #ccce34;
    }





.panel {
    margin-bottom: 0px;
}

.panel-body {
    padding: 0;
}


.panel > .panel-heading {
    background: #7e8d91;
    background: -moz-linear-gradient(top, #7e8d91 0%, #000000 41%, #6c6f70 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #7e8d91), color-stop(41%, #000000), color-stop(100%, #6c6f70));
    background: -webkit-linear-gradient(top, #7e8d91 0%, #000000 41%, #6c6f70 100%);
    background: -o-linear-gradient(top, #7e8d91 0%, #000000 41%, #6c6f70 100%);
    background: -ms-linear-gradient(top, #7e8d91 0%, #000000 41%, #6c6f70 100%);
    background: linear-gradient(to bottom, #7e8d91 0%, #000000 41%, #6c6f70 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e8d91', endColorstr='#6c6f70', GradientType=0 );
    border-bottom-color: #D5D4D3;
    color: white;
    padding: 5px 15px;
    transition: all 2s;
}


    .panel > .panel-heading:hover {
        background: #7e8d91;
        background: -moz-linear-gradient(top, #7e8d91 0%, #0a0a0a 18%, #000000 52%, #2b2b2b 84%, #6c6f70 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #7e8d91), color-stop(18%, #0a0a0a), color-stop(52%, #000000), color-stop(84%, #2b2b2b), color-stop(100%, #6c6f70));
        background: -webkit-linear-gradient(top, #7e8d91 0%, #0a0a0a 18%, #000000 52%, #2b2b2b 84%, #6c6f70 100%);
        background: -o-linear-gradient(top, #7e8d91 0%, #0a0a0a 18%, #000000 52%, #2b2b2b 84%, #6c6f70 100%);
        background: -ms-linear-gradient(top, #7e8d91 0%, #0a0a0a 18%, #000000 52%, #2b2b2b 84%, #6c6f70 100%);
        background: linear-gradient(to bottom, #7e8d91 0%, #0a0a0a 18%, #000000 52%, #2b2b2b 84%, #6c6f70 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e8d91', endColorstr='#6c6f70', GradientType=0 );
        cursor: pointer;
    }

.wellof {
    min-height: 20px;
    /* padding: 19px; */
    /* margin-bottom: 20px; */
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.of {
    padding: 0px !important;
}


.trans_table {
    border-collapse: separate;
    border-spacing: 2px;
    width: 100%;
}

.trans_tablecondiciones {
    border-collapse: separate;
    border-spacing: 2px;
    width: 100%;
}

.lblofertas {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.lblnumcontrato {
    color: #f70c0c;
    background-color: #fff;
    padding: 4px;
    font-weight: bold;
}


.autocomplete_completionListElement {
    border: solid 1px Gray;
    margin: 0px !important;
    list-style: none;
    padding: 2px;
    height: 130px;
    overflow: auto;
    background-color: #FFFFFF;
}

.autocomplete_listItem {
    color: #191919;
}

.autocomplete_highlightedListItem {
    background-color: #ADD6FF;
}


/**msj */
.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background: #000;
    z-index: 1001;
    opacity: 0.75;
    filter: alpha(opacity=75);
    pointer-events: none;
}

.popupnotificacion {
    border-radius: 3px;
    border: 2px solid #b9c9fe;
    display: none;
    position: fixed;
    overflow: auto;
    top: 40%;
    left: 32%;
    margin: auto;
    width: 25%;
    height: 18%;
    padding: 16px;
    background: #fefefe;
    color: #000;
    z-index: 1002;
}

.popupAdjunto {
    background: #006699;
    color: #000;
    /*border-radius: 3px;
        border:2px solid #b9c9fe;
        
        position: fixed;
        overflow:auto;
        top: 20%;
        left: 24%;
        margin:auto;
        width: 50%;
        height: 40%;
        padding: 16px;
       
        z-index:2002;*/
}

.ui-widget {
    font-family: Arial !important;
}

.ui-widget-header {
    background-color: #006699 !important;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Arial !important;
}


.alright {
    float: right !important;
}


.no_scroll {
    overflow-x: hidden;
    overflow-y: hidden;
}

.modalNotas {
    display: none;
    margin: auto;
    border-radius: 3px;
    border: 2px solid #b9c9fe;
    position: fixed;
    top: 35%;
    left: 32%;
    height: 25%;
    background: #fff;
    color: #333;
    overflow: auto;
    width: 30%;
    z-index: 1002;
}

.modalModificarCliente {
    display: none;
    margin: auto;
    border-radius: 3px;
    border: 2px solid #b9c9fe;
    position: fixed;
    top: 10%;
    left: 25%;
    height: 84%;
    background: #fff;
    padding: 0px 10px;
    color: #333;
    overflow: auto;
    width: 50%;
    z-index: 1002;
}

.colortitulomodal {
    background-color: #006699;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
}

.closeok {
    background: rgba(20, 120, 144, 0.81);
    border-radius: 2px;
    border: 1px solid #6E6E6E;
    color: #f2f2f2;
    font-family: Arial;
    line-height: 25px;
    text-align: center;
    text-decoration: none !important;
    padding: 5px;
    width: 30px;
}

    .closeok:hover {
        background: #D5D4D3;
        transition: all 200ms ease;
        color: #333;
    }

.close {
    background: #f2f2f2;
    border-radius: 3px;
    border: 1px solid #6E6E6E;
    color: #444;
    font-family: 'Comic Sans MS', Arial;
    font-weight: bold;
    line-height: 25px;
    position: absolute;
    right: 2px;
    text-align: center;
    top: 2px;
    text-decoration: none;
    width: 24px;
}

    .close:hover {
        background: #fff;
        color: #f80d0d;
    }

.bloqueo {
    pointer-events: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

.rightBar {
    float: right !important;
}

.searchIcon {
    content: "\e9d9";
}

.textboxpeqSearch {
    border: 1px solid #D0D0CF;
    font-size: 14px;
    font-family: Arial, Verdana;
    padding: 5px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #FFFFFF;
    color: #2E3133;
}


.textboxpeq {
    border: 1px solid #D0D0CF;
    font-size: 14px;
    font-family: Arial, Verdana;
    padding: 3px 4px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #FFFFFF;
    color: #2E3133;
}

.row {
    width: 100%;
    margin: 0 auto;
}

.aright {
    text-align: right !important;
}
/*.row input, .row select{
        width: 100% !important;
        margin-bottom:15px !important;
}*/

.btnbusqueda {
    border: none;
    background-color: #38B931;
    color: #CBD5CA;
    cursor: pointer;
    padding: 8px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 2px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}

    .btnbusqueda:hover {
        background-color: #2EFE2E;
        color: #6E6E6E;
    }



.buttoncomando {
    border: none;
    background: #006699;
    color: #f2f2f2;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}

    .buttoncomando:hover {
        background: #0F78AC;
        color: #f2f2f2;
    }


.activo {
    display: block;
}

#menu {
    top: 0;
    text-align: center;
    font-size: 1em;
    width: 90px;
}

    #menu ul {
        list-style-type: none;
    }

        #menu ul li.nivel1 {
            /*float: left;*/
            width: 40px;
            margin-right: 1px;
        }

        #menu ul li a {
            display: block;
            text-decoration: none;
            color: #000;
            background-color: #D8D8D8;
            border: solid 1px #fff;
            padding: 5px;
            position: relative;
        }

        #menu ul li:hover {
            position: relative;
        }

            #menu ul li a:hover, #menu ul li:hover a.nivel1 {
                background-color: #BDBDBD;
                color: #000;
                position: relative;
            }

        #menu ul li a.nivel1 {
            display: block !important;
            display: none;
            position: relative;
        }

        #menu ul li ul {
            display: none;
        }

        #menu ul li a:hover ul, #menu ul li:hover ul {
            display: block;
            position: absolute;
            /*left: 0px;*/
        }

        #menu ul li ul li a {
            width: 185px;
            padding: 4px 0px 4px 0px;
            /*border-top-color: #000;*/
        }

            #menu ul li ul li a:hover {
                /*border-top-color: #000;*/
                position: relative;
            }


/**menu de opcs*/

nav {
    background: #D8D8D8;
    border-radius: 5px;
    color: #000;
    z-index: 1000;
    position: relative;
    /*max-width: 1000px;*/
    width: 100%;
    margin: 0 auto;
}

    nav ul {
        list-style: none;
    }

header nav ul li {
    display: inline-block;
    position: relative;
}

/*nav ul li:hover {
	background:#6E6E6E;
    color:#fff;
}*/

nav ul li a {
    color: #000;
    display: block;
    text-decoration: none;
    padding: 4px;
}

    nav ul li a span {
        /*margin-right:10px;*/
        margin-left: 0px;
    }

/*nav ul li:hover .children {
	display:block;
}*/

nav ul li .children {
    top: -84px;
    border-radius: 3px;
    display: none;
    background: #D8D8D8;
    position: relative;
    /*width: 150%;*/
    z-index: 1000;
}

    nav ul li .children li {
        display: block;
        /*overflow: hidden;*/
        border-bottom: 1px solid #c2bfbf;
    }

        nav ul li .children li a {
            display: block;
        }

            nav ul li .children li a span {
                float: right;
                position: relative;
                top: 3px;
                margin-right: 0;
                /*margin-left:10px;*/
            }

nav ul li .caret {
    position: relative;
    top: 3px;
    margin-left: 10px;
    margin-right: 0px;
}

/**fin del menu*/



.contentleft {
    float: left;
    width: 40%;
}

.contentright {
    float: left;
    width: 40%;
}

#flotante { /*padre*/
    margin: auto;
    width: 100%;
}

    #flotante .A {
        float: left;
        width: 40%;
    }

    #flotante .B { /*hijos*/
        float: right;
        width: 40%;
        /*height:450px;
             width: 1000px;*/
    }

#flotante2 { /*padre*/
    margin: auto;
    width: 100%;
}

    #flotante2 .A {
        float: left;
        width: 40%;
    }

    #flotante2 .B { /*hijos*/
        float: left;
        width: 40%;
        /*height:450px;
             width: 1000px;*/
    }

.tableresponsive {
    width: 100% !important;
}




@media screen and (min-width:688px) {
    .main {
        margin: 0 auto;
        background-color: #fff;
        border: 2px solid rgba(0,0,0,0.16);
        border-radius: 2px;
        width: 100%;
    }
    /*.trans_table{
             width:60%;
        }*/
    .tableresponsive {
        overflow-y: hidden;
        width: 100%;
    }

    .trans_tablecondiciones {
        width: 80%;
    }

    /*.navexit{
            float:left !important;
        }*/


}
