/* CSS Document */




* { padding:0px;margin:0px;
}
body { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#000000;}
#menu { background-image:url('bar2.png'); 
background-repeat:repeat-x; height:30px; width:984px; 
margin:auto;
}
#nav { list-style:none;
    width: 642px;
}
#nav li { float:left; background-image:url('box_bg.gif'); 
background-repeat:no-repeat; background-position:right;
    width: 106px;
}
#nav li a { display:block; padding:7px 10px; text-decoration:none; color:#CCCCCC; font-weight:bold; }
#nav li a:hover { color:#FFFFFF; }
/* Submenu */
#nav ul.submenu { border:1px solid #000000; padding:5px; position:absolute; list-style:none; background-color:#333333;}
#nav ul.submenu li { float:none; background-image:none; border-bottom:1px solid #999999; width:200px;}
/* Subsubmenu */
#nav ul.subsubmenu { border:1px solid #000000; padding:5px; position:absolute; list-style:none; background-color:#333333;
                      margin-left:150px; margin-top:-30px;}
#nav ul.subsubmenu li { float:none; background-image:none; border-bottom:1px solid #999999; min-width:200px;}


#menu2 { background-image:url('box_bg.gif'); 
background-repeat:repeat-x; 
width:986px; 
margin:auto;
}
#nav2 { list-style:none;
    width: 950px;
    height: 30px;
}
#nav2 li { float:left; background-image:url('box_bg.gif'); 
background-repeat:no-repeat; background-position:right;
    width: 215px;
    height: 30px;
}
#nav2 li a { display:block; padding:7px 10px; text-decoration:none; color:#0D7701; font-weight:bold;
    width: 537px;
}
#nav2 li a:hover { color:#771501; }
/* Submenu */
#nav2 ul.submenu { border:1px solid #000000; padding:5px; position:absolute; list-style:none; background-color:#333333;}
#nav2 ul.submenu li { float:none; background-image:none; border-bottom:1px solid #999999; width:200px;}
/* Subsubmenu */
#nav2 ul.subsubmenu { border:1px solid #000000; padding:5px; position:absolute; list-style:none; background-color:#333333; margin-left:150px; margin-top:-30px;}
#nav2 ul.subsubmenu li { float:none; background-image:none; border-bottom:1px solid #999999; min-width:200px;}




input {
	padding: 2px;
	border:1px solid #eee;
	font: normal 1em "Trebuchet MS", Tahoma, sans-serif;
	color:#777;
}
 
.button 
{ 
	font: bold 1em Arial, Sans-serif; 
	background: #FFF url(bar2.png) repeat-x; 
	padding: 2px 3px; 
	color: #FFFFFF;	
	border: 1px solid #DADADA;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;

}

 
    .Updatebutton
{
    background: #FFF url('binocular.png') no-repeat left 50%; 
    vertical-align: baseline;
    font: bold 1em Arial, Sans-serif; 
	padding: 2px 3px; 
	color: #0B0177;	
	border: 1px solid #DADADA;
    margin-left: 1;
    margin-right: 1;
    margin-top: 1;
}


.buttonamarillo:hover 
{
    background:url("../images/barra.png") -95px 0 ;
    background-repeat:repeat-x ;
    cursor:hand;
    }
    
    /* Controles de Estilo para los botones del slider de Productos  */
  		#slider ul, #slider li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider li{ 
		width:450px;
		height:300px;
		overflow:hidden; 
		}	
		
	#slider ul li a img
	{
	    width:450px;
	    height:310px;
	}
	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
		display:block;
		width:30px;
		height:77px;
		position:absolute;
		left:-30px;
		top:71px;
		z-index:1000;
		}	
	#nextBtn, #slider1next{ 
		left:450px;
		}														
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{  
		display:block;
		position:relative;
		width:30px;
		height:77px;
		background:url(images/btn_prev.gif) no-repeat 0 0;	
		}	
	#nextBtn a, #slider1next a{ 
		background:url(images/btn_next.gif) no-repeat 0 0;	
		}	
		
	

	ol#controls{
		margin:1em 0;
		padding:0;
		height:28px;	
		}
	ol#controls li{
		margin:0 10px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		height:28px;
		line-height:28px;
		}
	ol#controls li a{
		float:left;
		height:28px;
		line-height:28px;
		border:1px solid #ccc;
		background:#DAF3F8;
		color:#555;
		padding:0 10px;
		text-decoration:none;
		}
	ol#controls li.current a{
		background:#5DC9E1;
		color:#fff;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
	